###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# C++ specific settings (ensure that C++ source files are treated as text)
###############################################################################
*.cpp text
*.h text
*.hpp text

###############################################################################
# Treat image files as binary (do not perform diff/merge)
###############################################################################
*.jpg binary
*.png binary
*.gif binary
*.bmp binary

###############################################################################
# Merge driver for project files (CLion or CMake)
###############################################################################
CMakeLists.txt text
*.cmake text
.idea/* merge=union  # Merging .idea configurations
.vscode/* merge=union  # Merging VSCode configurations

###############################################################################
# Set the diff driver for specific text file types
###############################################################################
*.md diff=astextplain  # Markdown files treated as text
